body {
  display: flex;
  flex-direction: column;
  justify-content: center;;
  align-items: center;
  color: white;
  /* background gradient below adapted from https://uigradients.com/#DigitalWater */
  background: #74ebd5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(-45deg, #74ebd5, #ACB6E5, #dba2e4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(-45deg #74ebd5, #ACB6E5, #dba2e4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* ==========================================================================

Stylying For Header Section Elements

==============================================================================*/

header {
  /* border: 1px solid green; */
  width: 95vw;
  /* height: fit-content; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* background: lightpink; */
  margin: 0 auto;
  line-height: 5vh;
}


h1 {
  margin: 2vh auto 0 auto;
  top: 5px;
  font-family: 'Rancho', cursive;
  font-size: 80px;
  color: white;
  width: fit-content;
  padding-bottom: 0;
}

#nav {
  background: -webkit-linear-gradient(-45deg, rgba(219, 162, 228, 0.7), rgba(247, 168, 225, 0.7), rgba(255, 182, 193, 0.7), rgba(255, 215, 156, 0.8));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(-45deg, rgba(219, 162, 228, 0.7), rgba(247, 168, 225, 0.7), rgba(255, 182, 193, 0.7), rgba(255, 215, 156, 0.8)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 95vw;
  margin: 0 auto;
  top: -1vh;
}

/* ================== First Line of Header ================= */
#first-line {
  /* border: 1px solid pink; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 3vh auto 0 auto;
  font-family: 'Rancho', cursive;
  font-size: 80px;
}

/* ==================The word "Inspiration" in header================= */
#inspiration {
  margin: 1vw 0 0 0;
}

/* ==================Styling for rainbow icon================= */
#rainbow {
  width: 45px;
  height: 45px;
  margin: 0 0 0 1.5vw;
  top: -3px;

  border-radius: 50% 50% 0 0;

  background: #ffd79c;  /* fallback for old browsers */
  background: repeating-linear-gradient(-45deg, #fce3ad 0%, #d2e5ac 7.14%, #74ebd5 14.28%, #ACB6E5 21.43%, #dba2e4 28.57%, #e3a1d0 35.71%, lightpink 42.86%, #ffd79c 50%);  /* Chrome 10-25, Safari 5.1-6 */ 

  animation: slide 10s linear infinite backwards;
}

@keyframes slide {
  0% {
    background-position-x: 200px;
  }
  100% {
    background-position-x: 0%;
  }
}

/* ==================Styling for second line in header================= */
#second-line {
  /* border: 1px solid blue; */
  font-size:35px;
  line-height: 20px;
  margin: 0.5vw;
  padding: 0;
  
}

/* ==========================================================================

Stylying For Main Section Elements

==============================================================================*/


main {
  width: 95vw;
  display: grid;
  grid-template-areas: 
  "A A A B B"
  "A A A B B"
  "A A A B B"
  "A A A B B";
}

/* ==========================================================================
Stylying For Poster Section
==============================================================================*/

/* ==================The h2 Title for poster section================= */
h2 {
  font-family: "Rancho", "cursive";
  line-height: 4vh;
  font-size: 6vh;
  margin: 1vh;
}

.choices-div {
  /* border: 1px solid orange; */
  height: 20vh;
  width: 45vw;
  text-align: center;
  margin: 1vh;
  font-family: "Rancho", "cursive";
  font-size: 3vh;
  background: rgba(255, 255, 255, 0.536);
  border-radius: 5px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  /* background gradient below adapted from https://uigradients.com/#DigitalWater */
  background: #74ebd5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(45deg, rgba(210, 229, 172, 0.7), rgba(117, 235, 213, 0.6), rgba(172, 182, 229, 0.6));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, rgba(210, 229, 172, 0.7), rgba(117, 235, 213, 0.6), rgba(172, 182, 229, 0.6))); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* (-45deg #d2e5ac, #74ebd5, #ACB6E5) */
}

.choices-div p{
  font-size: 16px;
  width: 40vw;
}

div.landscape > img {
  width: 48vw;
}

div.portrait > img {
  height: 75vh;
}

.layout-1 {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.layout-2 {
  width: 100%;
  text-align: center;
  bottom: 0;
}

.layout-3 {
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.layout-4 {
  width: 60%;
  text-align: left;
  margin: 0 auto;
}

.layout-5 {
  width: 60%;
  text-align: left;
  bottom: 0;
}

.layout-6 {
    width: 60%;
    text-align: right;
    right: 2px;
}

.layout-7 {
  width: 60%;
  text-align: right;
  bottom: 0;
  right: 2px;
}

.layout-8 {
  width: 60%;
  text-align: left;
  top: 50%;
  left: 2px;
  transform: translate(0, -50%);
}

.layout-9 {
  width: 60%;
  text-align: right;
  top: 50%;
  right: 2px;
  transform: translate(0, -50%);
}

.layout-prev {
  height: 11vh;
  margin: 2px;
}

.layout-prev:hover {
  filter: saturate(400%);
}

#background-preview-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#layout-choice {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#layout-choice > p {
  margin: 0;
}

#layout-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 1px; 
  overflow: auto;
  max-width: 40vw;
}

#font-color-size-options {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  font-size: 14px;
}

#font-color-size-options > div {
  /* background-color: rgba(255, 182, 193, 0.557); */
  padding: 1px 2px;
  border-radius: 3px;
}




#pic-div {
  /* width: 20vw;
  height: 70vh; */
  /* border: 1px solid rgb(155, 67, 255); */
  position: relative;
  /* background-color: lightpink; */
  margin: 3px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#poster-sect {
  /* border: 2px solid red; */
  width: 45vw;
  margin: 0 auto;
  /* height: 90vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-position: cover; */
  grid-area: A;
}

#quote-choice {
  overflow-y: auto;
}

#quote-div {
  /* width: 50vw; */
  /* border: 1px solid rgb(0, 255, 42); */
  position: absolute;
  margin: 0 auto;
}

#quote-preview-div {
  /* border: 2px solid yellow; */
  font-family: serif;
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#quote-preview-div > p {
  font-size: 14px;
  font-family: serif;
  margin: 2px;
  text-align: center;
}

#quote-text {
  font-size: 20px;
  line-height: 20px;
}

#choice-menus {
  grid-area: B;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid blue; */
  width: 48vw;
  margin-left: 2vw;
}

/* ==========================================================================

Stylying For Footer Section Elements

==============================================================================*/


footer {
  width: 95vw;
  height: 5vh;
  background: -webkit-linear-gradient(45deg, rgba(219, 162, 228, 0.7), rgba(247, 168, 225, 0.7), rgba(255, 182, 193, 0.7), rgba(255, 215, 156, 0.8));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, rgba(219, 162, 228, 0.7), rgba(247, 168, 225, 0.7), rgba(255, 182, 193, 0.7), rgba(255, 215, 156, 0.8)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0 auto;
}

@media only screen and (max-width: 500px) {
  #pic-div {
    width: 80vw;
    height: 60vh;
    /* border: 1px solid black; */
  }

  main {
    width: 95vw;
    display: grid;
    grid-template-areas: 
    "A A A"
    "A A A"
    "A A A"
    "B B B"
    "B B B";

  }
  #choice-menus {
    width: 95vw; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .choices-div {
    width: 95vw;
    height: 30vh;
    margin: 2vh;
  }

  #poster-sect {
    height: fit-content;
    position: sticky;
  }

  #pic-div {
    height: fit-content;
    width: fit-content;
    position: sticky;
  }

  #quote-div {
    width: 100%;
  }
  div.landscape > img {
    width: 90vw;
  }
  
  div.portrait > img {
    height: 75vh;
  }

  #layout-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 1px; 
    overflow: auto;
    max-width: 90vw;
  }

}
