main {
  display: grid;
  grid-template-areas: 
  "A A A B B"
  "A A A B B"
  "A A A B B"
  "A A A B B";
}
#pic-div {
  /* width: 50vw;
  height: 75vh; */
  border: 1px solid rgb(155, 67, 255);
  position: relative;
}
#poster-sect {
  border: 2px solid red;
  /* width: 60vw; */
  /* height: 90vh; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-position: cover;
  grid-area: A;
}
#quote-div {
  /* width: 50vw; */
  border: 1px solid rgb(0, 255, 42);
  position: absolute;
}
#quote-text {
  font-size: 20px;
}
#choice-menus {
  grid-area: B;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid blue;
}
.choices-div {
  border: 1px solid orange;
}

div.landscape > img {
  width: 50vw;
}

div.portrait > img {
  height: 75vh;
}

@media only screen and (max-width: 768px) {
  #pic-div {
    width: 80vw;
    height: 60vh;
    border: 1px solid black;
  }

}
