/* ==========================================================================

Stylying for overall body and repeated elements like buttons and dropdown menus

==============================================================================*/
body {
  display: flex;
  flex-direction: column;
  justify-content: center;;
  align-items: center;
  
  /* background gradient below adapted from https://uigradients.com/#DigitalWater */
  background: #74ebd5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(-45deg, #74ebd5, #ACB6E5, #dba2e4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(-45deg #74ebd5, #ACB6E5, #dba2e4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
}

button {
  margin: 2px auto;
  padding: 3px 5px;

  background: none;
  background: -webkit-linear-gradient(-45deg, rgba(219, 162, 228, 0.7), rgba(247, 168, 225, 0.7), rgba(255, 182, 193, 0.7), rgba(255, 215, 156, 0.8));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(-45deg, rgba(219, 162, 228, 0.7), rgba(247, 168, 225, 0.7), rgba(255, 182, 193, 0.7), rgba(255, 215, 156, 0.8)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: 1px solid white;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

  color: white;
  font-family: "Viaoda Libre", "cursive";
  line-height: 10px;
  
}

button:hover {
  border-color: rgb(255, 240, 189);
  box-shadow: 0 10px 10px rgba(255, 234, 167, 0.6);
  /* animation: slide 5s linear infinite forwards; */
  
  color: rgb(255, 240, 189);
}

/* ==========================================================================

Stylying For Header Section Elements

==============================================================================*/

/* ================== Full Header ================= */
header {
  width: 95vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
  margin: 0 auto;

  background: -webkit-linear-gradient(-45deg, rgba(219, 162, 228, 0.7), rgba(247, 168, 225, 0.7), rgba(255, 182, 193, 0.7), rgba(255, 215, 156, 0.8));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(-45deg, rgba(219, 162, 228, 0.7), rgba(247, 168, 225, 0.7), rgba(255, 182, 193, 0.7), rgba(255, 215, 156, 0.8)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* box-shadow from https://getcssscan.com/css-box-shadow-examples #24 */
  
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

  line-height: 5vh;
}

/* ================== H1 elements of header ================= */
h1 {
  width: fit-content;
  
  top: 5px;

  margin: 1vh auto;
  padding-bottom: 0;

  font-family: 'Rancho', cursive;
  font-size: 80px;
  color: white;
}

/* ================== Nav Bar ================= */
#nav {
  width: 95vw;

  display: flex;
  flex-direction: row;
  
  margin: 0 auto;
  top: -1vh;
}

.navlink{
  padding: 0 2px;
  
  font-family: "Viaoda Libre", "cursive";
  text-decoration: none;
  color: white;
  
  border-radius: 5px;
}

.navlink:hover {
  background: #74ebd5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(-45deg, rgba(116, 235, 213, 0.55), rgba(172, 182, 229, 0.55), rgba(219, 162, 228, 0.55));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(-45deg rgba(116, 235, 213, 0.55) rgba(172, 182, 229, 0.55), rgba(219, 162, 228, 0.55)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* ================== Nav Bar Rainbow Icon ================= */
#nav-icon {
  width: 20px;
  height: 20px;

  border-radius: 50% 50% 0 0;
  margin: 2px 2px 0 4px;

  background: #ffd79c;  /* fallback for old browsers */
  background: repeating-linear-gradient(-45deg, #fce3ad 0%, #d2e5ac 7.14%, #74ebd5 14.28%, #ACB6E5 21.43%, #dba2e4 28.57%, #e3a1d0 35.71%, lightpink 42.86%, #ffd79c 50%);  /* Chrome 10-25, Safari 5.1-6 */ 
  filter: saturate(200%);
}

/* ================== First Line of Header ================= */
#first-line {
  /* border: 1px solid pink; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  
  margin: 3vh auto 0 auto;
  
  font-family: 'Rancho', cursive;
  font-size: 80px;
}

/* ==================The word "Inspiration" in header================= */
#inspiration {
  margin: 1vw 0 0 0;
}

/* ==================Styling for rainbow icon================= */
/*  Rainbow animation adapted from CodingNepal video: https://www.youtube.com/watch?v=Hvrl93x-P3s */
#rainbow {
  width: 45px;
  height: 45px;
  
  margin: 0 0 0 1.5vw;
  top: -3px;

  border-radius: 50% 50% 0 0;

  background: #ffd79c;  /* fallback for old browsers */
  background: repeating-linear-gradient(-45deg, #fce3ad 0%, #d2e5ac 7.14%, #74ebd5 14.28%, #ACB6E5 21.43%, #dba2e4 28.57%, #e3a1d0 35.71%, lightpink 42.86%, #ffd79c 50%);  /* Chrome 10-25, Safari 5.1-6 */
  filter: saturate(150%); 

  animation: slide 10s linear infinite backwards;
}

@keyframes slide {
  0% {
    background-position-x: 200px;
  }
  100% {
    background-position-x: 0%;
  }
}

/* ==================Styling for second line in header================= */
#second-line {
  margin: 0.5vw;
  padding: 0;

  font-size:35px;
  line-height: 20px;
}

/* ==================Cloud Images================= */
#clouds {
  width: 95vw;

  position: absolute;
  top: 0;

  opacity: 0.5;

  font-size: 80px;
}

#cloud1 {
  position: absolute;
  left: 5vw;
  top: 2vh;
}
#cloud2 {
  position: absolute;
  left: 27vw;
  top: 1vh;
}
#cloud3 {
  position: absolute;
  right: 25vw;
  top: 7vh;
}
#cloud4 {
  position: absolute;
  right: 12vw;
  top: 2vh;
}
#cloud5 {
  position: absolute;
  left: 15vw;
  top: 8vh;
}
#cloud6 {
  position: absolute;
  right: 4vw;
  top: 9vh;
}

/* ==========================================================================

Stylying For Main Section Elements

==============================================================================*/


main {
  width: 95vw;

  display: grid;
  grid-template-areas: 
  "A A A B B"
  "A A A B B"
  "A A A B B"
  "A A A B B";
}

/* ==========================================================================
Stylying For Poster Section
==============================================================================*/

/* ================== Full Poster Section ================= */
#poster-sect {
  
  width: 45vw;

  grid-area: A;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}

/* ==================The h2 Title for poster section================= */
h2 {
  margin: 1vh;

  font-family: "Rancho", "cursive";
  font-size: 6vh;
  line-height: 4vh;
}

/* ================== Poster Picture ================= */
div.landscape > img {
  width: 48vw;
  
}

div.portrait > img {
  height: 75vh;
  
}

/* ================== The actual poster object that contains pic and quote ================= */
#pic-div {
  /* background-color: lightpink;
  width: 20vw;
  height: 70vh; */
  
  position: relative;

  margin: 3px;

  /* box-shadow from https://getcssscan.com/css-box-shadow-examples #20 */
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/* ================== Div that holds quote and author paragraphs on poster================= */
#quote-div {
  position: absolute;
  margin: 0 auto;
}

/* ================== The paragraph that holds the quote on the poster================= */
#quote-text {
  font-size: 20px;
  line-height: 20px;
}

/* ==========================================================================
Styling for choice menus
==============================================================================*/

/* ================== Full section that holds all choice menus================= */
#choice-menus {
  width: 48vw;

  grid-area: B;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  margin-left: 2vw;
}

/* ================== Common styling for all choice menus ================= */
.choices-div {
  width: 45vw;
  height: 20vh;
 
  margin: 1vh;
  
  background: #74ebd5;  /* fallback for old browsers */
   /* background gradient below adapted from https://uigradients.com/#DigitalWater */
  background: -webkit-linear-gradient(45deg, rgba(210, 229, 172, 0.7), rgba(117, 235, 213, 0.6), rgba(172, 182, 229, 0.6));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, rgba(210, 229, 172, 0.7), rgba(117, 235, 213, 0.6), rgba(172, 182, 229, 0.6))); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* (-45deg #d2e5ac, #74ebd5, #ACB6E5) */

   /* box-shadow from https://getcssscan.com/css-box-shadow-examples #28 */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 5px;

  text-align: center;
  font-family: "Viaoda Libre", "cursive";
  font-size: 2.5vh;
  line-height: 10px;
  color: white;
  
  overflow-y: auto;
}

/* ================== The Paragraph Elements of the Choic Menus ================= */
.choices-div p{
  width: 40vw;

  font-size: 16px;
}

/* ==========================================================================
Styling for the Quote Choice Menu
==============================================================================*/

/* ================== The Paragraph that holds the current quote being previewed ================= */
#quote-choice {
  overflow-y: auto;
}

/* ================== Full quote choice menu ================= */
#quote-preview-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin: 1vh;
  padding: 2px;

  font-family: serif;
}

/* ================== Text for quote choice menu ================= */
#quote-preview-div > p {
  margin: 2px;

  font-size: 14px;
  font-family: serif;
  text-align: center;
  line-height: 12px;
}

/* ==========================================================================
Styling for the Background/Image Choice Menu
==============================================================================*/

/* ================== Div that holds the image preview and apply button ================= */
#background-preview-div {
  width: 80%;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}


/* ==========================================================================
Styling for font choice menu
==============================================================================*/

/* ================== Div that allows user to change font color and size ================= */
#font-color-size-options {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  
  margin-bottom: 2vw;

  font-size: 14px;
}

/* =============== Indivdual divs for author text size, quote text size, and color picker ================= */
#font-color-size-options > div {
  padding: 1px 2px;

  border-radius: 3px;
}

/* ==========================================================================
Styling for layout choice menu
==============================================================================*/

/* ================== Full layout choice menu ================= */
#layout-choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ================== Layout Choice Menu Text ================= */
#layout-choice > p {
  margin: 1vh;
}

/* ================== List of layout preview images ================= */
#layout-list {
  max-width: 40vw;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  
  margin: 1px; 
  
  overflow: auto;
}

/* ================== Individual layout preview images ================= */
.layout-prev {
  height: 11vh;
  
  margin: 2px;
}

.layout-prev:hover {
  filter: saturate(400%);
}

/* ==========================================================================
Layout option structures
==============================================================================*/

.layout-1 {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.layout-2 {
  width: 100%;
  text-align: center;
  bottom: 0;
}

.layout-3 {
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.layout-4 {
  width: 60%;
  text-align: left;
  margin: 0 auto;
}

.layout-5 {
  width: 60%;
  text-align: left;
  bottom: 0;
}

.layout-6 {
    width: 60%;
    text-align: right;
    right: 2px;
}

.layout-7 {
  width: 60%;
  text-align: right;
  bottom: 0;
  right: 2px;
}

.layout-8 {
  width: 60%;
  text-align: left;
  top: 50%;
  left: 2px;
  transform: translate(0, -50%);
}

.layout-9 {
  width: 60%;
  text-align: right;
  top: 50%;
  right: 2px;
  transform: translate(0, -50%);
}


/* ==========================================================================

Stylying For Footer Section Elements

==============================================================================*/


footer {
  width: 95vw;
  height: 5vh;

  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  
  background: -webkit-linear-gradient(45deg, rgba(219, 162, 228, 0.7), rgba(247, 168, 225, 0.7), rgba(255, 182, 193, 0.7), rgba(255, 215, 156, 0.8));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, rgba(219, 162, 228, 0.7), rgba(247, 168, 225, 0.7), rgba(255, 182, 193, 0.7), rgba(255, 215, 156, 0.8)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0 auto;
  /* box-shadow from https://getcssscan.com/css-box-shadow-examples #24 */
  
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  
  font-family: "Viaoda Libre", "cursive";
}

#footer-icon {
  width: 20px;
  height: 20px;

  border-radius: 50% 50% 0 0;
  margin: 2px 2px 0 4px;

  background: #ffd79c;  /* fallback for old browsers */
  background: repeating-linear-gradient(-45deg, #fce3ad 0%, #d2e5ac 7.14%, #74ebd5 14.28%, #ACB6E5 21.43%, #dba2e4 28.57%, #e3a1d0 35.71%, lightpink 42.86%, #ffd79c 50%);  /* Chrome 10-25, Safari 5.1-6 */ 

  text-align: center;
  vertical-align: center;
  color: rgb(255, 255, 255);
  filter: saturate(200%);
}

/* ==========================================================================

@media query

==============================================================================*/

@media only screen and (max-width: 500px) {
  
/* ================== Main section ================= */
  main {
    width: 95vw;
    display: grid;
    grid-template-areas: 
    "A A A"
    "A A A"
    "A A A"
    "B B B"
    "B B B";
  }

  /* ================== Poster Section ================= */
  #poster-sect {
    height: fit-content;
    position: sticky;
  }

  /* ================== Poster Image ================= */
  #pic-div {
    width: 80vw;
    height: 60vh;
    /* border: 1px solid black; */
  }

  #pic-div {
    height: fit-content;
    width: fit-content;
    position: sticky;
  }

  div.landscape > img {
    width: 90vw;
  }
  
  div.portrait > img {
    height: 75vh;
  }

  /* ================== Poster Quote ================= */
  #quote-div {
    width: 100%;
  }

  /* ================== Choice/Preview Menus ================= */
  #choice-menus {
    width: 95vw; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .choices-div {
    width: 95vw;
    height: 30vh;
    margin: 2vh;
  }

  /* ================== Font Menu ================= */
  #font-color-size-options {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    font-size: 14px;
    margin-bottom: 2vw;
  }

  /* ================== Layout Menu ================= */
  #layout-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 1px; 
    overflow: auto;
    max-width: 90vw;
  }

  /* ================== Stop clouds from displaying ================= */
  #clouds {
    display: none;
  }
  #cloud1 {
    display: none;
  }
  #cloud2 {
    display: none;
  }
  #cloud3{
    display: none;
  }
  #cloud4 {
    display: none;
  }
  #cloud5 {
    display: none;
  }
  #cloud6 {
    display: none;
  }

}
